/* Add the necessary fonts to be used */
@font-face {
  font-family: Poppins;
  src: local('Poppins'), url(./assets/fonts/Poppins-Bold.otf);
}
@font-face {
  font-family: Futura;
  src: local ('Futura'), url(./assets/fonts/Futura\ Heavy\ font.ttf)
}
/* End of adding fonts */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(
    109.6deg,
    rgb(41, 125, 182) 3.6%,
    rgb(77, 58, 151) 51%,
    rgb(103, 55, 115) 92.9%
  );
}
/* Style the main heding */
h1 {
  text-align: center;
  font-family: Poppins;
}
span{
  color: rgb(203, 203, 250);
}
/* Style the h2 transaction and search table */
h2 {
  font-family: Poppins;
  margin-left: 10px;
}
/* Style Search button */
.button-56 {
  padding: 6px 20px;
  font-family: Futura;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(104, 38, 167);
}
/* Style Search  Transactions button */
.custom-placeholder {
  padding: 4px 20px;
  font-family: Futura;
  border-radius: 20px;
  margin-left: 10px;
}
.button-56:hover{
  background-color: blueviolet;
}

/* Style the transaction table button */
.button-85 {
  padding: 6px 20px;
  font-family: Futura;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}
/* Align the transaction table */
th,
td {
  padding: 10px;
  text-align: left;
}
/* Style the custom table */
.custom-table {
  font-family: Futura;
  font-size: 17px;
}
/* Style the delete button */
.button-78 {
  padding: 5px 20px;
  font-family: Futura;
  border: 2px solid blue;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* Hover effect */
.button-78:hover {
  background-color: purple;
}
/* Style description placeholder */
.description-placeholder {
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 15px;
  font-family: Futura;
  color: #ad2121;
}
/* Style amount placeholder */
.amount-placeholder {
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: Futura;
}
/* Style category placeholder */
.category-placeholder {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: Futura;
}
.input-placeholder {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: Futura;
}
.button-73 {
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid black;
  font-family: Futura;
  transition: 0.3s;
}
.button-73:hover{
  background-color: blueviolet;
}
